# Agregating Data - pivot_table()

In [10]:
import pandas as pd
import numpy as np
data_BM=pd.read_csv('big_mart_sales.csv')
# Replace missing values
data_BM.loc[(data_BM.Item_Weight.isna() == True) , 'Item_Weight'] = round(data_BM.Item_Weight.mean(),3)
data_BM.loc[(data_BM.Outlet_Size.isna() == True) , 'Outlet_Size'] = 'Medium'
data_BM

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

# EXAMPLE 1

In [2]:
# index - the column by which we group the data
# values - the column by which we apply the aggregate function
# aggfunc - the aggregate function we want to implement
# Display the average 'Item_MRP' per group 'Item_Type'
pd.pivot_table(data_BM, index='Item_Type', values='Item_MRP', aggfunc='mean')

                         Item_MRP
Item_Type
Baking Goods           126.380766
Breads                 140.952669
Breakfast              141.788151
Canned                 139.763832
Dairy                  148.499208
Frozen Foods           138.503366
Fruits and Vegetables  144.581235
Hard Drinks            137.077928
Health and Hygiene     130.818921
Household              149.424753
Meat                   139.882032
Others                 132.851430
Seafood                141.841719
Snack Foods            146.194934
Soft Drinks            131.492506
Starchy Foods          147.838023

In [3]:
# We could have written the previous example without aggfunc = 'mean', because mean is the default aggfunc
pd.pivot_table(data_BM, index='Item_Type', values='Item_MRP')

                         Item_MRP
Item_Type
Baking Goods           126.380766
Breads                 140.952669
Breakfast              141.788151
Canned                 139.763832
Dairy                  148.499208
Frozen Foods           138.503366
Fruits and Vegetables  144.581235
Hard Drinks            137.077928
Health and Hygiene     130.818921
Household              149.424753
Meat                   139.882032
Others                 132.851430
Seafood                141.841719
Snack Foods            146.194934
Soft Drinks            131.492506
Starchy Foods          147.838023

# EXAMPLE 2

In [4]:
# Display average 'Item_Outlet_Sales' per group 'Outlet_Establishment_Year'
pd.pivot_table(data_BM, index='Outlet_Establishment_Year', values='Item_Outlet_Sales')

                           Item_Outlet_Sales
Outlet_Establishment_Year
1985                             2483.677474
1987                             2298.995256
1997                             2277.844267
1998                              339.351662
1999                             2348.354635
2002                             2192.384798
2004                             2438.841866
2007                             2340.675263
2009                             1995.498739

# EXAPLE 3

In [6]:
# If we do not specify values, we calculate mean value of all columns that have numbers as data type (int, float)
pd.pivot_table(data_BM, index=['Outlet_Establishment_Year'])

,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight
Outlet_Establishment_Year,,,,
1985,139.796485,2483.677474,0.076597,12.858000
1987,141.425982,2298.995256,0.059957,13.006148
1997,142.057387,2277.844267,0.060464,12.866801
1998,140.777594,339.351662,0.101457,12.913153
1999,140.297699,2348.354635,0.060806,12.917446
2002,140.950246,2192.384798,0.060474,12.649989
2004,143.122481,2438.841866,0.061263,12.829349
2007,139.421119,2340.675263,0.061377,12.826668
2009,141.678634,1995.498739,0.061014,12.873346

# EXAMPLE 4

In [7]:
# In the index we can define multiple columns (we group data frame by multiple columns and then for each group / subgroup
# we calculate the mean value for 'Item_MRP')
pd.pivot_table(data_BM, index=['Outlet_Size', 'Item_Type'], values=['Item_MRP'])

                                     Item_MRP
Outlet_Size Item_Type
High        Baking Goods           129.202044
            Breads                 133.758960
            Breakfast              147.490585
            Canned                 135.442708
            Dairy                  153.509172
            Frozen Foods           136.829250
            Fruits and Vegetables  145.572870
            Hard Drinks            141.927522
            Health and Hygiene     135.110980
            Household              147.097522
            Meat                   137.244790
            Others                 132.576613
            Seafood                134.864240
            Snack Foods            145.847086
            Soft Drinks            131.758473
            Starchy Foods          158.157074
Medium      Baking Goods           126.412598
            Breads                 140.019139
            Breakfast              145.705645
            Canned                 139.263582
            Dairy                  148.760371
            Frozen Foods           139.123870
            Fruits and Vegetables  142.789958
            Hard Drinks            138.882301
            Health and Hygiene     129.581982
            Household              147.738841
            Meat                   137.677798
            Others                 130.068971
            Seafood                141.484964
            Snack Foods            147.088040
            Soft Drinks            130.808387
            Starchy Foods          144.667873
Small       Baking Goods           125.213364
            Breads                 145.523651
            Breakfast              130.568027
            Canned                 142.295429
            Dairy                  145.942101
            Frozen Foods           137.838544
            Fruits and Vegetables  148.313370
            Hard Drinks            129.758784
            Health and Hygiene     131.831535
            Household              153.965439
            Meat                   145.699250
            Others                 137.889211
            Seafood                144.281760
            Snack Foods            144.351896
            Soft Drinks            132.855043
            Starchy Foods          150.270174

# EXAMPLE 5

In [11]:
# We can use multiple aggregate functions at the same time
pd.pivot_table(data_BM, 
               index=['Outlet_Size', 'Item_Type'], 
               values=['Item_MRP'],
               aggfunc=[np.mean, np.median, min, max, np.std])

                                         mean    median      min       max  \
                                     Item_MRP  Item_MRP Item_MRP  Item_MRP
Outlet_Size Item_Type
High        Baking Goods           129.202044  112.3544  36.7164  262.9568
            Breads                 133.758960  120.1098  31.9558  263.2594
            Breakfast              147.490585  157.6630  55.0614  232.3326
            Canned                 135.442708  117.7492  39.9506  266.1884
            Dairy                  153.509172  152.6840  38.8138  265.1884
            Frozen Foods           136.829250  127.6494  32.6558  264.8910
            Fruits and Vegetables  145.572870  143.6444  38.3190  263.9252
            Hard Drinks            141.927522  150.8392  37.9532  259.7278
            Health and Hygiene     135.110980  126.7336  35.4874  266.6884
            Household              147.097522  146.1786  34.9190  263.0910
            Meat                   137.244790  143.8812  34.7532  242.9512
            Others                 132.576613  126.5507  53.8614  239.2196
            Seafood                134.864240  159.4604  34.2216  196.8768
            Snack Foods            145.847086  148.6418  32.3558  264.9568
            Soft Drinks            131.758473  145.0102  31.4900  261.5910
            Starchy Foods          158.157074  171.3448  34.5532  263.0252
Medium      Baking Goods           126.412598  116.9650  33.9874  265.1568
            Breads                 140.019139  129.1310  33.0558  263.6594
            Breakfast              145.705645  155.9630  40.0480  234.9300
            Canned                 139.263582  140.1496  37.2506  266.8884
            Dairy                  148.760371  147.9550  33.4874  266.6884
            Frozen Foods           139.123870  130.5310  31.9558  264.6910
            Fruits and Vegetables  142.789958  144.5944  36.2506  264.2252
            Hard Drinks            138.882301  150.5392  34.2532  261.4278
            Health and Hygiene     129.581982  126.3362  33.2874  266.2884
            Household              147.738841  151.4366  32.9216  264.7910
            Meat                   137.677798  141.4180  36.6532  261.5936
            Others                 130.068971  127.5507  35.0190  254.0040
            Seafood                141.484964  158.4604  33.7216  240.2880
            Snack Foods            147.088040  146.5931  32.8558  264.9568
            Soft Drinks            130.808387  143.2983  31.2900  263.5910
            Starchy Foods          144.667873  165.4526  34.0532  262.8252
Small       Baking Goods           125.213364  107.1280  35.0874  265.5568
            Breads                 145.523651  130.1310  33.3558  262.3594
            Breakfast              130.568027  143.0154  41.2480  232.7300
            Canned                 142.295429  142.0470  36.3506  266.8884
            Dairy                  145.942101  144.2102  34.4874  265.8884
            Frozen Foods           137.838544  128.3678  32.0558  264.4910
            Fruits and Vegetables  148.313370  150.2550  37.3506  262.0252
            Hard Drinks            129.758784  128.3849  34.9532  261.0278
            Health and Hygiene     131.831535  130.1468  33.1216  266.5884
            Household              153.965439  160.2894  32.4558  263.9910
            Meat                   145.699250  153.1314  35.1532  260.2936
            Others                 137.889211  141.5470  36.4190  254.9040
            Seafood                144.281760  157.8104  34.2216  238.1880
            Snack Foods            144.351896  146.4076  34.7558  264.0568
            Soft Drinks            132.855043  145.5115  32.9900  263.3910
            Starchy Foods          150.270174  172.1448  37.5164  261.9252

                                         std
                                    Item_MRP
Outlet_Size Item_Type
High        Baking Goods           62.513380
            Breads                 59.674808
            Breakfast              57.979949
            Canned                 63.649778
            Dairy                  68.637413
            Frozen Foods           65.570365
            Fruits and Vegetables  62.313936
            Hard Drinks            70.784039
            Health and Hygiene     57.848561
            Household              65.792439
            Meat                   59.928600
            Others                 47.555575
            Seafood                64.228976
            Snack Foods            59.685857
            Soft Drinks            62.017381
            Starchy Foods          66.842782
Medium      Baking Goods           56.438819
            Breads                 63.746182
            Breakfast              58.598252
            Canned                 60.697216
            Dairy                  70.441891
            Frozen Foods           68.286532
            Fruits and Vegetables  60.278650
            Hard Drinks            61.688488
            Health and Hygiene     59.249056
            Household              62.218191
            Meat                   57.718572
            Others                 59.255233
            Seafood                60.803487
            Snack Foods            59.270925
            Soft Drinks            61.441169
            Starchy Foods          70.922380
Small       Baking Goods           59.840648
            Breads                 64.794574
            Breakfast              58.804713
            Canned                 60.273144
            Dairy                  70.993943
            Frozen Foods           66.653404
            Fruits and Vegetables  60.132708
            Hard Drinks            59.370335
            Health and Hygiene     60.677904
            Household              61.382853
            Meat                   58.466506
            Others                 61.148057
            Seafood                55.795978
            Snack Foods            57.899382
            Soft Drinks            59.214123
            Starchy Foods          67.692407

# LAB #3 
# Using pivot_table() over data frame 'orders_data' calculate:
# STEP 1: Apply the following aggregate functions (mean, median, min, max, std), above the 'Sales' column for the 'Province', 'Customer Segment' grouped columns.
# STEP 2: Apply the following aggregate functions (mean, median, min, max, std), above the 'Sales' column for the 'Customer Segment','Product Category' grouped columns.
# STEP 2: Apply the following aggregate functions (mean, median, min, max, std), above the 'Sales' column for the 'Product Category', 'Customer Segment' grouped columns.